@charset "UTF-8";

body {
  min-height: 780px;
}

/* header */
#al_hd_clear_w {
  z-index: 9999;
  position: relative;
  width: 100%;
  height: 70px;
}

#al_hd_clear_w .container {
  position: relative;
  max-width: 100%;
  min-width: 980px;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

#al_hd_clear_w .container .logotype {
  position: absolute;
  float: left;
  top: 50%;
  transform: translateY(-43%);
  width: 60px;
}

#al_hd_clear_w .container .logotype .alphaplus_logo {

}

#al_hd_clear_w .al_gn_clwhite {
  position: relative;
  float: right;
}

#al_hd_clear_w .al_gn_clwhite .al_gn_list li {
  display: inline-block;
  height: 70px;
  margin: auto 15px;
  line-height: 70px;
  font-size: 17px;
  font-weight: 400;
}

#al_hd_clear_w .al_gn_clwhite .al_gn_list li a {
  color: #fff;
}

/*===================================================================*/
/*===================================================================*/
/*===================================================================*/

/* designworks */
#al_mn_content .al_mn_portfolio {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateX(-20px) translateY(-50%);
  transition: 0.5s ;
}

#al_mn_content .al_mn_portfolio:hover {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateX(-50px) translateY(-50%);
  transition: 0.3s;
}

#al_mn_content .al_mn_portfolio:active {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  transition: 0.8s;
}

#al_mn_content .al_mn_portfolio .al_mn_pos {
  position: relative;
}

#al_mn_content .al_mn_portfolio .al_mn_pos .portfolio_1 {
  position: absolute;
  left: 0px;
  width: 288px;
  height: 512px;
  transform: translateY(-50%);
  background-color: #fff;
}

#al_mn_content .al_mn_portfolio .al_mn_pos .portfolio_2 {
  position: absolute;
  left: 298px;
  width: 288px;
  height: 512px;
  transform: translateY(-50%);
  background-color: #fff;
}

#al_mn_content .al_mn_portfolio .al_mn_pos .portfolio_3 {
  position: absolute;
  left: 596px;
  width: 288px;
  height: 512px;
  transform: translateY(-50%);
  background-color: #fff;
}

#al_mn_content .al_mn_portfolio .al_mn_pos .portfolio_4 {
  position: absolute;
  left: 894px;
  width: 288px;
  height: 512px;
  transform: translateY(-50%);
  background-color: #fff;
}

#al_mn_content .al_mn_portfolio .al_mn_pos .portfolio_5 {
  position: absolute;
  left: 1192px;
  width: 288px;
  height: 512px;
  transform: translateY(-50%);
  background-color: #fff;
}


/* slideshow */
#al_mn_content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*===================================================================*/
/*===================================================================*/
/*===================================================================*/

/* footer */
#al_ft_clear_w {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0%;
  left: 0%;
}

#al_ft_clear_w .container {
  position: relative;
  max-width: 100%;
  min-width: 980px;
  height: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

#al_ft_clear_w .container .al_ft_copyrights {
  text-align: left;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}

#al_ft_clear_w .container .al_ft_copyrights a {
  color: #fff;
}
