@charset "UTF-8";

/* header */
#main-header {
  z-index: 9999;
  position: fixed;
  width: 100%;
  height: 100px;
  color: #000;
}

#main-header .mn_hd_pos {
  height: 100%;
  padding: 0 45px;
}

#main-header .mn_hd_pos .mn_hd_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

/* logotype */
#main-header .mn_hd_pos .mn_hd_wrapper .logotype {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

#main-header .mn_hd_pos .mn_hd_wrapper .logotype a {
  font-size: 24px;
  transition: 0.5s;
}

#main-header .mn_hd_wrapper .logotype .lg_alphaplus {
  font-weight: 700;
  display: inline;
}

#main-header .mn_hd_wrapper .logotype .lg_designworks {
  font-weight: 400;
  display: inline;
}

/*nav abled */
.nav--abled .mn_hd_pos .mn_hd_wrapper .logotype a {
  font-size: 24px;
  color: #fff;
  transition: 0.5s
}

/* logotype done */

/* nav button */
#main-header .nav_position {
  position: absolute;
  top: 50%;
  right: 0%;
  width: 54px;
  height: 54px;
  transform: translateY(-50%);
}

#main-header .nav_button {
  position: relative;
  width: 100%;
  height: 100%;
}

 .nv_bt {
  position: absolute;
  width: 48px;
  height: 3px;
  background-color: #000;
}

 .nv_bt_top {
  top: 33%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.5s;
}

 .nv_bt_bottom {
  bottom: 33%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: 0.5s;
}

/* abled */
.nav--abled .nv_bt {
 position: absolute;
 width: 48px;
 height: 3px;
 background-color: #fff;
}

.nav--abled .nv_bt_top {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotateZ(45deg);
  transition: 0.5s;
}

.nav--abled .nv_bt_bottom {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotateZ(-45deg);
  transition: 0.5s;
}
/* nav button done */
/* header done */

/* navigator */
.nav_bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 0%;
  background-color: #000;
  transition: 0.5s;
}

.nav--abled .nav_bg {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: 0.5s;
}
