@charset "UTF-8";

/*footer*/
#al_fd_clear_b {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.al_fd_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.al_fd_copyrights {
    color: #999;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
}