@charset "UTF-8";

/* layout =================================================================== */
.bg {
  background-color: rgba(0,0,0,0.2);
}

.container {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  padding: 0 50px;
  clear: both;
}

.disabled {
  display: none;
}

/* header =================================================================== */
.header {
  z-index: 9999;
  width: 100%;
  height: 80px;
  position: fixed;
}

.header .header_columns {
  position: relative;
  width: 100%;
  height: 80px;
}

.header .header_columns .wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.header .header_columns .header_logotype {
  float: left;
}

.header .header_columns .header_logotype a {
  font-size: 18px;
}

.header .header_columns .header_logotype .logotype_alphaplus,
.header .header_columns .header_logotype .logotype_a {
  font-weight: 700;
}

.header .header_columns .header_logotype .logotype_a {
 display: none;
}

.header .header_columns .header_navigation .nav_link {
 display: inline;
 font-size: 18px;
 padding-left: 20px;
}

.header .header_columns .header_navigation .nav_link:hover {
  color: #fff;
}

.header .header_columns .header_navigation {
  float: right;
}

.header .header_background {
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
}

/* footer =================================================================== */
.footer {
  height: 60px;
}

.footer .footer_columns {
  max-width: 100%;
}

.footer .footer_columns .footer_us ul {
  float: left;
}

.footer .footer_columns .footer_link ul {
  float: right;
}

.footer .footer_columns .footer_items {
  display: inline;
  line-height: 80px;
  font-size: 18px;
  color: #999;
}

.footer .footer_columns .footer_link:hover {
  color: #000;
}

.footer .footer_columns .footer_items .footer_item {
  font-weight: 400;
}

.footer .footer_columns .footer_us .footer_items .footer_item {
  margin-right: 20px;
}

.footer .footer_columns .footer_us .footer_items .workwithus .realcontact {
  display: none;
}

.footer .footer_columns .footer_us .footer_items:hover .workwithus .fakecontact{
  text-decoration: line-through;
}

.footer .footer_columns .footer_us .footer_items:hover .workwithus .realcontact{
  display: inline;
}

.footer .footer_columns .footer_link .footer_items .footer_item {
  margin-left: 20px;
}

.footer .footer_columns .footer_link .footer_items .footer_item .link_facebook_r,
.footer .footer_columns .footer_link .footer_items .footer_item .link_instagram_r,
.footer .footer_columns .footer_link .footer_items .footer_item .link_twitter_r,
.footer .footer_columns .footer_link .footer_items .footer_item .link_github_r,
.footer .footer_columns .footer_link .footer_items .footer_item:hover .link_facebook,
.footer .footer_columns .footer_link .footer_items .footer_item:hover .link_instagram,
.footer .footer_columns .footer_link .footer_items .footer_item:hover .link_twitter,
.footer .footer_columns .footer_link .footer_items .footer_item:hover .link_github {
  display: none;
}

.footer .footer_columns .footer_link .footer_items .footer_item:hover .link_facebook_r,
.footer .footer_columns .footer_link .footer_items .footer_item:hover .link_instagram_r,
.footer .footer_columns .footer_link .footer_items .footer_item:hover .link_twitter_r,
.footer .footer_columns .footer_link .footer_items .footer_item:hover .link_github_r {
  display: inherit;
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* welcome ================================================================== */

/* slideover ================================================================ */
.slideover {
  position: relative;
  width: 100vw;
  height: 100vh;

}

.slideover .slideover_buttonarea {
  position: absolute;
  width: 50px;
  height: 100%;
  transition: 0.2s;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.slideover .slideover_buttonarea:hover {
  opacity: 1;
}

.slideover .slideover_nextbuttonarea {
  left: 0;
}

.slideover .slideover_previousbuttonarea {
  right: 0;
}

/* highlight ================================================================ */
.highlight {
}

.highlight .highlight_columns {
  padding: 80px 0 100px 0;
}

.highlight .highlight_columns .highlight_container {
  margin-left: -20px;
}

.highlight .highlight_columns .highlight_container .highlight_item {
  float: left;
  width: calc((100% / 2) - 20px);
  margin-left: 20px;
}

.highlight .highlight_columns .highlight_container .highlight_item a {
  width: 100%;
}


.highlight .highlight_columns .highlight_container .highlight_item .highlight_item_pos {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}

.highlight .highlight_columns .highlight_container .highlight_item .highlight_item_pos .img_area_big {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.highlight .highlight_columns .highlight_container .highlight_item .highlight_item_pos .img_area_big .sample_imgstop, .highlight .highlight_columns .highlight_container .highlight_item .highlight_item_pos .img_area_big .sample_imgmove {
  width: 100%;
  height: 100%;
}

.highlight .highlight_columns .highlight_container .highlight_item .highlight_item_pos .img_area_big .sample_imgstop {
  background-color: gray;
}

.highlight .highlight_columns .highlight_container .highlight_item .highlight_item_pos .img_area_big .sample_imgmove {
  display: none;
  background-color: black;
}

.highlight .highlight_columns .highlight_container .highlight_item:hover .highlight_item_pos .img_area_big .sample_imgstop {
  display: none;
}

.highlight .highlight_columns .highlight_container .highlight_item:hover .highlight_item_pos .img_area_big .sample_imgmove {
  display: block;
}

.highlight .highlight_columns .highlight_container .highlight_item:hover .highlight_text {
  text-decoration: underline;
}

.highlight .highlight_columns .highlight_container .highlight_item .highlight_text {
  max-width: 100%;
  height: 100px;
  padding: 15px 5% 0 0;
  font-size: 18px;
}

.highlight .highlight_columns .highlight_container .highlight_item .highlight_text .highlight_genre {
  font-weight: 700;
  padding-right: 20px;
}

.highlight .highlight_columns .highlight_container .highlight_item .highlight_text .highlight_area {
  display: none;
  font-weight: 700;
  padding-right: 20px;
}

.highlight .highlight_columns .highlight_container .highlight_item:hover .highlight_text .highlight_genre {
  display: none;
}

.highlight .highlight_columns .highlight_container .highlight_item:hover .highlight_text .highlight_area {
  display: block;
}

.highlight .highlight_columns .highlight_more {
  width: 220px;
  height: 60px;
  margin: 30px auto 0 auto;
  border: 1px solid black;

  text-align: center;
  line-height: 60px;
  font-size: 16px;
}

.highlight .highlight_columns .highlight_more:hover {
  border: 1px solid black;
  background-color: #000;

  text-align: center;
  line-height: 60px;
  font-size: 16px;
  color: #fff;
}

/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* ========================================================================== */
/* about ==================================================================== */
