@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

body.darkMode {background: #000; color: #fff;}

#stickyHeader {position: relative; width: 100%; height: 0;}

#mobileHeader {overflow: hidden; position: relative; width: 100%; height: 0px; transition: 0.5s; background: #fff;}
#mobileHeader.header--active {height: 120px;}

.stickyTop {z-index: 999; position: relative; width: 100%; height: 0;}
.stickyTop .container {height: 60px;}
.stickyTop .buttonPos {float: right; width: 36px; height: 60px;}
.stickyTop .buttonPos #navbtn {z-index: 999; position: flex; width: 60px; height: 60px;}
.stickyTop .buttonPos #navbtn .navbtn {position: relative; width: 20px; height: 8px; margin: 0 auto;}
.stickyTop .buttonPos #navbtn .navbtn::before, .stickyTop #navbtn .navbtn::after {position: absolute; content: ''; display: block; width: 20px; height: 2px; background: #fff;}
.stickyTop .buttonPos #navbtn .navbtn::before {top: 0;}
.stickyTop .buttonPos #navbtn .navbtn::after {bottom: 0;}


#welcome {position: relative; width:100vw; height: 120vw;}
#welcome .welcomeTitle {color: #fffa;}
#welcome .welcomeTitle .titleHighlight {color: #ffff;}

@media (max-width: 480px) {
.container {max-width: 100%; height: 100%; padding: 0 24px;}
#welcome .welcomeNav {display: none;}
#welcome .welcomeTitle {position: absolute; bottom: 60px; width: 100%; word-break: keep-all; font-weight: 700; font-size: 1.8rem; line-height: 1.2em;}
}

#gallery {position: relative; width: 100%; background: #000;}
#gallery .galleryItem {position: relative; width: 100%; margin-bottom: 40px;}
#gallery .galleryItem .galleryPicture {position: relative; width: 100%; background-color: #fff;}
#gallery .galleryItem .galleryPicture:before {content: ""; display: block; padding-top: 75%;}
#gallery .galleryItem .content {position: absolute; top: 0; right: 0; bottom: 0; left: 0;}
#gallery .galleryItem .galleryInfo {padding-top: 12px; font-size: 1rem; line-height: 1.2em;}
#gallery .galleryItem .galleryInfo .galleryTitle {font-weight: 500;}
