@charset "UTF-8";

html {
  background-color: #F0F0F0
}

/*header*/
#al_globalheader {
  position: fixed;
  width: 100%;
  height: 80px;
}

.al_gn_hambug {
  position: absolute;
  top: 0;
  left: 0;
}

/*slideshow*/
#viewport {
  position: relative;
  width: 100%;
  height: 100%;
}

.al_mn_card {
  position: absolute;
  top: 48%;
  left: 50%;
  width: 333px;
  height: 721.5px;
  transform: translateX(-50%) translateY(-50%);
  background-color: #F0F0F0;
  /*box-shadow: 0 16px 32px 5px rgba(0, 0, 0, 0.2)*/
}

.al_mn_logotype {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  width: 100px;
  transform: translateX(-50%) translateY(-70%);
}

.al_mn_logo {
  transform: translateX(-2%);
}
.logotype_text {
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 700;
  width: 100px;
  text-align: center;
  transform: translateX(5%);
}

/*info*/
#al_mn_info {
  position: absolute;
  bottom: 0;
  width: 100%
}

.al_mn_infos {
  width: 1440px;
  margin: 0 auto;
  padding:30px 20px;
  text-align: center;
}
