@charset "UTF-8";

/* layout */
.bg {
  background-color: rgba(0,0,0,0.2);
}

.container {
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  padding: 0 50px;
  clear: both;
}

/* highlight */
.highlight {
}

.highlight .highlight_columns {
  padding: 80px 0 100px 0;
}

.highlight .highlight_columns .highlight_container {
  margin-left: -20px;
}

.highlight .highlight_columns .highlight_container .highlight_item {
  position: relative;
  overflow: hidden;
  float: left;
  width: calc((100% / 2) - 20px);
  margin-left: 20px;
  padding-top: calc(((100% / 2) - 20px) + 75px);
}

.highlight .highlight_columns .highlight_container .highlight_item .highlight_bound {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: black;
}

.highlight .highlight_columns .highlight_container .highlight_item .highlight_item_pos {
  position: relative;
  width: 100%;
  height: calc(100% - 75px);
  padding-bottom: 0;
}

.highlight .highlight_columns .highlight_container .highlight_item .highlight_item_pos .highlight_item_img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.highlight .highlight_columns .highlight_container .highlight_item .highlight_item_pos .highlight_item_img img {
  width: 100%;
}

/* footer */
.footer {
  height: 60px;
}

.footer .footer_columns {
  max-width: 100%;
}

.footer .footer_columns .footer_us ul {
  float: left;
}

.footer .footer_columns .footer_link ul {
  float: right;
}

.footer .footer_columns .footer_items {
  display: inline;
  line-height: 60px;
  font-size: 18px;
  color: #999;
}

.footer .footer_columns .footer_items:hover {
  color: #000;
}

.footer .footer_columns .footer_items .footer_item {
  font-weight: 400;
}

.footer .footer_columns .footer_us .footer_items .footer_item {
  margin-right: 20px;
}

.footer .footer_columns .footer_us .footer_items .workwithus .realcontact {
  display: none;
}

.footer .footer_columns .footer_us .footer_items:hover .workwithus .fakecontact{
  text-decoration: line-through;
}

.footer .footer_columns .footer_us .footer_items:hover .workwithus .realcontact{
  display: inline;
}

.footer .footer_columns .footer_link .footer_items .footer_item {
  margin-left: 20px;
}
